<div class="container-fluid">
  <div class="row m-t-10 m-b-40">
    <div class="col-xs-12 col-sm-7 calender">
      <mat-card>
        <full-calendar
          *ngIf="calendarOptions"
          [options]="calendarOptions"
          (dateClick)="clickButton($event)"
        ></full-calendar>
      </mat-card>
    </div>

    <div
      class="col-xs-12 col-sm-5 availability-form"
      *ngIf="designation === 'Supervisor'"
    >
      <mat-card>
        <div class="row">
          <div class="col-xs-12 box">
            <mat-select
              class="input-full-width"
              placeholder="{{ currentLanguageSet?.specialization }}"
              [(ngModel)]="selectedSpecialization"
              (change)="getSpecialist()"
            >
              <mat-option
                *ngFor="let specialization of specializationMaster"
                [value]="specialization"
              >
                {{ specialization.specialization }}
              </mat-option>
            </mat-select>
          </div>
          <div class="col-xs-12 box">
            <mat-select
              class="input-full-width"
              placeholder="{{ currentLanguageSet?.specialist }}"
              [(ngModel)]="selectedSpecialist"
              (change)="getMonthEvents()"
            >
              <mat-option
                *ngFor="let specialist of specialistList"
                [value]="specialist"
              >
                {{
                  specialist.firstName +
                    " " +
                    (specialist.middleName || "") +
                    " " +
                    specialist.lastName
                }}
              </mat-option>
            </mat-select>
          </div>
        </div>
      </mat-card>
    </div>

    <div
      *ngIf="selectedSpecialist"
      class="col-xs-12 col-sm-5 availability-form"
    >
      <mat-card>
        <form [formGroup]="availabiltyForm">
          <div class="row">
            <div class="col-xs-12 m-t-10">
              <mat-radio-group
                class="radio-list"
                formControlName="isAvailability"
                name="isAvailability"
                (change)="resetFormValue()"
                required
              >
                <mat-radio-button color="primary" value="true">{{
                  currentLanguageSet?.available
                }}</mat-radio-button>
                <mat-radio-button color="primary" value="false">{{
                  currentLanguageSet?.notAvailable
                }}</mat-radio-button>
              </mat-radio-group>
            </div>
            <div class="col-xs-12 m-t-10 box">
              <mat-form-field class="input-full-width">
                <mat-label>{{ currentLanguageSet?.fromDate }}</mat-label>
                <input
                  matInput
                  [matDatepicker]="configuredFromDatePicker"
                  class="input-full-width"
                  name="configuredFromDate"
                  formControlName="configuredFromDate"
                  readonly
                  [min]="minSelectableDate"
                  [max]="maxSelectableDate"
                  required
                />
                <mat-datepicker-toggle
                  matPrefix
                  [for]="configuredFromDatePicker"
                ></mat-datepicker-toggle>
                <mat-datepicker #configuredFromDatePicker></mat-datepicker>
              </mat-form-field>
            </div>
            <div class="col-xs-12 box" [hidden]="isAvailability === 'false'">
              <mat-form-field class="input-full-width">
                <mat-label>{{ currentLanguageSet?.inventory?.date }}</mat-label>
                <input
                  matInput
                  [matDatepicker]="configuredToDatePicker"
                  class="input-full-width"
                  formControlName="configuredToDate"
                  readonly
                  name="configuredToDate"
                  [min]="configuredFromDate"
                  [max]="maxSelectableDate"
                  [required]="configuredToDateBoolean"
                />
                <mat-datepicker-toggle
                  matPrefix
                  [for]="configuredToDatePicker"
                ></mat-datepicker-toggle>
                <mat-datepicker #configuredToDatePicker></mat-datepicker>
              </mat-form-field>
            </div>
            <div class="col-xs-12 box">
              <mat-form-field class="input-full-width">
                <mat-label>{{ currentLanguageSet?.fromTime }}</mat-label>
                <input
                  matInput
                  [matDatepicker]="configuredFromTimePicker"
                  type="time"
                  class="input-full-width"
                  formControlName="configuredFromTime"
                  name="configuredFromTime"
                  required
                />
                <mat-datepicker-toggle
                  matPrefix
                  [for]="configuredFromTimePicker"
                ></mat-datepicker-toggle>
                <mat-datepicker #configuredFromTimePicker></mat-datepicker>
              </mat-form-field>
            </div>
            <div class="col-xs-12 box">
              <mat-form-field class="input-full-width">
                <mat-label>{{ currentLanguageSet?.toTime }}</mat-label>
                <input
                  matInput
                  [matDatepicker]="configuredToTimePicker"
                  type="time"
                  class="input-full-width"
                  formControlName="configuredToTime"
                  name="configuredToTime"
                  [min]="
                    configuredFromDate?.getTime() ===
                    configuredToDate?.getTime()
                      ? configuredFromTime
                      : null
                  "
                  required
                />
                <mat-datepicker-toggle
                  matPrefix
                  [for]="configuredToTimePicker"
                ></mat-datepicker-toggle>
                <mat-datepicker #configuredToTimePicker></mat-datepicker>
              </mat-form-field>
            </div>
            <div class="col-xs-12 day-list" *ngIf="isAvailability !== 'false'">
              <button
                type="button"
                mat-mini-fab
                [color]="day.isSelected ? 'warn' : 'primary'"
                (click)="day.isSelected = !day.isSelected"
                *ngFor="let day of dayList; let i = index"
              >
                {{ day.name }}
              </button>
            </div>
          </div>
          <div class="row m-t-30">
            <div class="col-xs-12">
              <button
                type="button"
                mat-raised-button
                color="accent"
                class="input-full-width"
                [disabled]="
                  availabiltyForm.pristine ||
                  (availabiltyForm.dirty && availabiltyForm.invalid)
                "
                (click)="submitAvailabilityForm(availabiltyForm)"
              >
                {{ currentLanguageSet?.submit }}
              </button>
            </div>
          </div>
        </form>
      </mat-card>
    </div>
  </div>
</div>
