<div class="container-fluid">
  <div class="row m-t-10">
    <div class="col-xs-12">
      <div class="col-xs-4 box">
        <mat-form-field class="input-full-width">
          <input
            matInput
            [matDatepicker]="datepicker"
            placeholder="{{ currentLanguageSet?.appointmentDate }}"
            name="viewDate"
            [(ngModel)]="viewDate"
            (ngModelChange)="getAllAppointment()"
          />
          <mat-datepicker-toggle
            matSuffix
            [for]="datepicker"
          ></mat-datepicker-toggle>
          <mat-datepicker #datepicker></mat-datepicker>
        </mat-form-field>
      </div>
      <div class="col-xs-4 sw">
        <input
          type="search"
          class="search"
          autocomplete="off"
          placeholder="{{ currentLanguageSet?.inTableSearch }}"
          name="filterTerm"
          [(ngModel)]="filterTerm"
          (keyup)="filterBeneficiaryList(filterTerm)"
        />
        <button class="go" (click)="filterBeneficiaryList(filterTerm)">
          <span class="material-icons">search</span>
        </button>
      </div>
      <div class="col-xs-4">
        <button
          mat-raised-button
          class="pull-right btn-green"
          color="primary"
          id="refresh"
          (click)="getAllAppointment()"
        >
          {{ currentLanguageSet?.refresh }}
        </button>
      </div>
    </div>
  </div>

  <mat-drawer-container class="example-container m-t-10" autosize>
    <div class="example-sidenav-content">
      <div class="container-fluid">
        <div class="row">
          <div class="col-xs-12">
            <section class="table-responsive">
              <table
                mat-table
                [dataSource]="pagedList"
                class="mat-elevation-z8"
              >
                <!-- SNo Column -->
                <ng-container matColumnDef="sNo">
                  <th mat-header-cell *matHeaderCellDef>
                    {{ currentLanguageSet?.sNo }}
                  </th>
                  <td mat-cell *matCellDef="let beneficiary; let i = index">
                    {{ i + 1 }}
                  </td>
                </ng-container>

                <!-- Beneficiary ID Column -->
                <ng-container matColumnDef="beneficiaryID">
                  <th mat-header-cell *matHeaderCellDef>
                    {{ currentLanguageSet?.beneficiaryID }}
                  </th>
                  <td mat-cell *matCellDef="let beneficiary">
                    {{ beneficiary?.beneficiaryID }}
                  </td>
                </ng-container>

                <!-- Beneficiary Name Column -->
                <ng-container matColumnDef="beneficiaryName">
                  <th mat-header-cell *matHeaderCellDef>
                    {{ currentLanguageSet?.beneficiaryName }}
                  </th>
                  <td mat-cell *matCellDef="let beneficiary">
                    {{ beneficiary?.benName | titlecase }}
                  </td>
                </ng-container>
                <!-- Gender Column -->
                <ng-container matColumnDef="gender">
                  <th mat-header-cell *matHeaderCellDef>
                    {{ currentLanguageSet?.gender }}
                  </th>
                  <td mat-cell *matCellDef="let beneficiary">
                    {{ beneficiary.genderName | titlecase }}
                  </td>
                </ng-container>

                <!-- Age Column -->
                <ng-container matColumnDef="age">
                  <th mat-header-cell *matHeaderCellDef>
                    {{ currentLanguageSet?.age }}
                  </th>
                  <td mat-cell *matCellDef="let beneficiary">
                    {{ beneficiary.age }}
                  </td>
                </ng-container>

                <!-- Visit Category Column -->
                <ng-container matColumnDef="visitCategory">
                  <th mat-header-cell *matHeaderCellDef>
                    {{ currentLanguageSet?.visitCategoryVisitNo }}
                  </th>
                  <td mat-cell *matCellDef="let beneficiary">
                    {{ beneficiary.VisitCategory }} /
                    {{ beneficiary.benVisitNo }}
                  </td>
                </ng-container>

                <!-- Visit Date Column -->
                <ng-container matColumnDef="visitDate">
                  <th mat-header-cell *matHeaderCellDef>
                    {{ currentLanguageSet?.visitDate }}
                  </th>
                  <td mat-cell *matCellDef="let beneficiary">
                    {{ beneficiary.benVisitDate }}
                  </td>
                </ng-container>

                <!-- TC Date Column -->
                <ng-container matColumnDef="tCDate">
                  <th mat-header-cell *matHeaderCellDef>
                    {{ currentLanguageSet?.tCDate }}
                  </th>
                  <td mat-cell *matCellDef="let beneficiary">
                    {{ beneficiary.tCRequestDate }}
                  </td>
                </ng-container>

                <!-- Image Column -->
                <ng-container matColumnDef="image">
                  <th mat-header-cell *matHeaderCellDef>
                    {{ currentLanguageSet?.image }}
                  </th>
                  <td
                    mat-cell
                    *matCellDef="let beneficiary"
                    (click)="patientImageView(beneficiary.beneficiaryRegID)"
                    matTooltip="{{ currentLanguageSet?.image }}"
                  >
                    <img
                      src="assets/images/Avatar-Profile_30X30.png"
                      alt="Avatar Profile"
                    />
                  </td>
                </ng-container>

                <!-- Actions Column -->
                <ng-container matColumnDef="actions">
                  <th mat-header-cell *matHeaderCellDef>
                    {{ currentLanguageSet?.action }}
                  </th>
                  <td mat-cell *matCellDef="let beneficiary">
                    <button
                      mat-raised-button
                      (click)="cancelTCRequest(beneficiary)"
                      matTooltip="{{ currentLanguageSet?.cancelTc }}"
                      color="warn"
                      [disabled]="beneficiary.specialist_flag !== 1"
                    >
                      {{ currentLanguageSet?.cancel }}
                    </button>
                  </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr
                  mat-row
                  *matRowDef="let row; columns: displayedColumns"
                ></tr>
              </table>
              <div class="totalCount" *ngIf="pagedList.data.length > 0">
                {{ currentLanguageSet?.totalCount }} :
                {{ pagedList.data.length }}
              </div>
              <mat-paginator
                [hidden]="pagedList.data.length === 0"
                [pageSizeOptions]="[5, 10, 25]"
                [pageSize]="5"
                showFirstLastButtons
              ></mat-paginator>
            </section>
          </div>
        </div>
      </div>
    </div>
  </mat-drawer-container>
</div>
