/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.css";
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');

@import 'css/custom.css';
@import 'css/layout.css';

.mat-input-placeholder,
.mat-select-placeholder,
.md2-datepicker-placeholder {
  color: #999 !important;
}

.mat-select-placeholder .ng-trigger .ng-trigger-transformPlaceholder .mat-floating-placeholder {
  color: #999 !important;
}

[disabled] .mat-select-placeholder .ng-trigger .ng-trigger-transformPlaceholder .mat-floating-placeholder .mat-input-placeholder,
[aria-disabled=true] .mat-select-placeholder,
.mat-input-placeholder {
  color: #999 !important;
}

.odd {
  background-color: #f0f5f5;
  border-bottom: 1px solid #ddd;
}

.action-btn-container {
  padding: 10px;
}

.box {
  height: 60px;
}

.multi-row-select {
  padding: 5px 0px;
}

.no-row {
  margin: 0 !important;
}

.cdk-overlay-container .cdk-global-overlay-wrapper .cdk-overlay-pane .mat-dialog-container {
  padding: 0px;
  overflow: hidden;
}

.cdk-overlay-container .cdk-global-overlay-wrapper .cdk-overlay-pane.preview-casesheet .mat-dialog-container {
  max-width: unset;
}

.btn-green {
  background: green !important;
}

.btn-green:disabled {
  background: grey !important;
  cursor: not-allowed;
}

.mat-form-field {
  line-height: unset;
}

md2-datepicker {
  top: -7px;
}

hr {
  -moz-border-bottom-colors: none;
  -moz-border-image: none;
  -moz-border-left-colors: none;
  -moz-border-right-colors: none;
  -moz-border-top-colors: none;
  border-color: #EEEEEE -moz-use-text-color #FFFFFF;
  border-style: solid none;
  border-width: 1px 0;
  margin: 18px 0;
}

@media only screen and (max-width: 768px) {
  .registrar-menu.mat-menu-panel {
    max-width: none;
    width: 100vw;
    margin-top: 10px;
  }
  .cdk-overlay-container .cdk-global-overlay-wrapper .cdk-overlay-pane.fit-screen {
    width: 100%;
    height: 100%;
  }
  .cdk-overlay-container .cdk-global-overlay-wrapper .cdk-overlay-pane .mat-dialog-container {
    padding: 0px;
    max-width: 98vw;
    max-height: 95vh;
  }
  .vw100 {
    width: 100vw !important;
  }
}

.mat-form-field.readonly .mat-form-field-underline {
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(0, 0, 0, 0.42)), color-stop(33%, rgba(0, 0, 0, 0.42)), color-stop(0%, transparent));
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0.42) 0%, rgba(0, 0, 0, 0.42) 33%, transparent 0%);
  background-size: 4px 1px;
  background-repeat: repeat-x;
  background-color: unset;
}


.sw {
  float: left;
  width: 100%;
  height: 40px;
  display: flex;
  align-items: center;
  box-shadow: 0 3px 1px -2px rgba(0,0,0,.2), 0 2px 2px 0 rgba(0,0,0,.14), 0 1px 5px 0 rgba(0,0,0,.12);
}

.search {
  flex: 1 1 auto;
  order: 2;
  outline: none;
  border: none;
  border-radius: 0;
  background: #fff;
  padding: 8px;
  font-family: 'Roboto', sans-serif;
  height: 40px;
  transition: all 0.05s ease-in-out;
  -webkit-appearance: none;
}

.go {
  flex: 1 1 auto;
  order: 3;
  max-width: 50px;
  display: inline-block;
  border: none;
  background: #fff;
  color: blue;
  padding-top: 6px;
  height: 40px;
  transition: all 0.05s ease-in-out;
  outline: none;
}

.m-b-40{
  margin-bottom: 40px;
}

.mat-tab-label {
  opacity: unset !important;
}
.cdk-overlay-container .cdk-global-overlay-wrapper .cdk-overlay-pane.fit-screen {
  width: 98% !important;
  height: 88% !important;
}

.cdk-overlay-container .cdk-global-overlay-wrapper .cdk-overlay-pane.fit-screen .mat-dialog-container {
  max-width: unset;
}

.cdk-overlay-container .cdk-global-overlay-wrapper .backdrop {
  background: darkslategray;
  filter: blur(8px);
}

/* .fc .fc-daygrid-event-harness-abs {
  left: 0px;
  position: absolute;
  right: 0px;
  top: 0px;
  width: fit-content !important;

}
.fc .fc-daygrid-event-harness {
  position: relative;
  width: fit-content !important;
} */
.fc .fc-toolbar.fc-header-toolbar {
   margin: 10px !important;
}
.mdc-text-field--filled, .mdc-text-field--focused, .mat-mdc-form-field-focus-overlay, .mat-mdc-form-field:hover .mat-mdc-form-field-focus-overlay, .mat-mdc-form-field.mat-focused .mat-mdc-form-field-focus-overlay {
  background-color: unset !important;
}
.mat-mdc-form-field:not(.mat-form-field-no-animations) .mdc-text-field__input {
  border-bottom-style: groove ;
}
.mdc-line-ripple::before, .mdc-line-ripple::after {
 
  border-bottom-style:unset !important;
}
.mat-mdc-select-trigger {
  border-bottom-style: groove;
}
.fc .fc-col-header-cell-cushion {
  display: inline-block;
  padding: 2px 4px;
  color: black;
  text-decoration: none;
}

.fc .fc-daygrid-day-number {
  color: black;
  text-decoration: none;
}
.fc-direction-ltr .fc-daygrid-event.fc-event-end, .fc-direction-rtl .fc-daygrid-event.fc-event-start {
  margin-right: 2px;
  background-color: #E0E0E0;
}
.fc-direction-ltr .fc-button-group > .fc-button:not(:last-child) {
  background-color: #134D87;
}
.fc-direction-ltr .fc-button-group > .fc-button:not(:first-child) {
  border-bottom-left-radius: 0px;
  border-top-left-radius: 0px;
  margin-left: -1px;
  background-color: #134D87;
}
.fc .fc-button:not(:disabled) {
  background-color: #134D87;
}
.mat_success{
  background-color: green !important;
}
.mat_success:disabled{
  background-color: #E0E0E0 !important;
}